services:
  ollama:
    image: ollama/ollama
    container_name: ollama
    volumes:
      - ./data/ollama:/root/.ollama
    networks:
      - sya-net
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
      - OLLAMA_DEBUG=INFO
      - OLLAMA_HOST=http://0.0.0.0:11434

  api:
    build:
      context: ./apps/api
    container_name: sya-api
    ports:
      - "3001:3001"
    environment:
      - SERVER_ADDR=0.0.0.0:3001
      - OLLAMA_URL=http://ollama:11434/
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/sya_db?schema=public
    networks:
      - sya-net
    depends_on:
      - ollama
      - db

  db:
    image: postgres:16
    container_name: sya-db
    expose:
      - "5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: sya_db
    volumes:
      - ./data/db:/var/lib/postgresql/data
    networks:
      - sya-net

  # TODO: On production only, use pnpm run dev for developement.
  # web:
  #   build:
  #     context: .
  #     dockerfile: apps/web/Dockerfile
  #   container_name: sya-web
  #   ports:
  #     - "3000:3000"
  #   environment:
  #     - NEXT_PUBLIC_API_URL=http://localhost:3001
  #   networks:
  #     - sya-net
  #   depends_on:
  #     - api

networks:
  sya-net:
    driver: bridge
